* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease-in-out 250m;
}

/*#region inicio del side menu*/

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
#btn-reiniciar-filtros::before {
  position: relative;
  top: 0.2rem;
  opacity: 0.8;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'   width='16' height='16'  viewBox='0 0 576 512'%3e%3cpath d='M3.9 22.9C10.5 8.9 24.5 0 40 0H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L396.4 195.6C316.2 212.1 256 283 256 368c0 27.4 6.3 53.4 17.5 76.5c-1.6-.8 3.2-1.8 4.7-2.9l-64-48c-8.1-6-12.8-15.5-12.8-25.6V288.9L9 65.3C-.7 53.4-2.8 36.8 3.9 22.9zM432 224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm59.3 107.3c6.2-6.2 6.2-16.4 0-22.6s-16.4-6.2-22.6 0L432 345.4l-36.7-36.7c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6L409.4 368l-36.7 36.7c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0L432 390.6l36.7 36.7c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6L454.6 368l36.7-36.7z'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}
#btn-filtro-favoritos::before {
  position: relative;
  top: 0.15rem;
  opacity: 0.8;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 576 512'%3e%3cpath d='M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z'/%3e%3c/svg%3e");
}

/*#endregion del side menu*/

/*#region Estilos de las estrellas*/
#estrella-th{
  position: relative;
  top: -2px;
  width: 15px;
  fill-opacity: 1;
  margin-right: 10px !important;
}
.estrella {
  position: relative;
  top: -2px;
  width: 15px;
  transition: fill-opacity 0.2s ease-in-out;
  margin-right: 10px !important;
}

.estrella-invicible {
  fill-opacity: 0;
}

.estrella-opaca {
  fill-opacity: 0.5;
}

.estrella-seleccionada {
  fill-opacity: 1;
}

.estrella:hover{
  fill-opacity: 1;
}
/*#endregion*/

a:hover {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

td {
  max-width: 150px;
}

.bandera {
  width: 4em;
  transition: transform 0.3s ease-in-out;
}
.bandera:hover {
  transform: scale(2.5);
}

#logo {
  width: 2.5rem;
}
.btn-ordenar svg {
  width: 8px;
}
.btn-filtro {
  margin-left: 2rem !important;
}
.btn-ordenar {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 0.2rem;
}

/* @media (max-width: 768px) { */
@media (max-width: 1200px) {
  th {
    min-width: 6rem;
  }
  th:first-child {
    min-width: auto;
  }
}

