/* stylelint-disable @stylistic/selector-list-comma-newline-after */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
.carousel-item{
  padding: 2rem;
  width: 100%;
  height: 26rem;
}

.carousel-item img {
  object-position: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}


.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
#caracteristicas-secundarias-zonaHoraria{
  width: 16rem
}
.enlance-masPaises img {
  object-position: center;
  object-fit: cover;
   width: 50%;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
  .enlance-masPaises img {
    object-position: center;
    object-fit: cover;
     width: 50%;
  }
}
@media (max-width: 425px) {

  .enlance-masPaises img {
    object-position: center;
    object-fit: cover;
     width: 100%;
  }
 
}